.container {
    height: 100vh;
    padding-top: 70px;
    background: #0d3a59;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    height: 10%;
    color: white;
    font-size: 3rem;
}

.secondTitle {
    height: 10%;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

.container ul {
    text-align: center;
    font-size: 1.6rem;
    list-style-type: none;
}

.container ul a {
    display: block;
    text-decoration: none;
    color: #cdcdcd;
    padding: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    width: 100%;
}

.links span {
    border: 2px solid white;
    border-radius: 100%;
    padding: 20px;
    transition: 0.5s;
}

.links svg {
    margin: -0.7rem -0.7rem;
    transition: 0.6s;
    fill: white;
}

.links a:hover svg {
    fill: #3e92cc;
}

.links a:hover span {
    background-color: white;
}