.container {
    display: flex;
    height: 100vh;

    background-image: url('../images/red-headphones-cut.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.containerMobile {
    display: flex;
    height: 100vh;

    background-image: url('../images/red-headphones-cut.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    width: 100%;
    padding-top: 40vh;

    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 175px;
    text-transform: uppercase;
    color: rgb(24, 24, 24);
}

.footerMobile {
    width: 100%;
    padding-top: 40vh;

    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 75px;
    color: rgb(24, 24, 24);

}