/* https://coolors.co/000000-3e92cc-9c9c9c-0d3a59-ffffff */

/*  color: #000000;
    color: #ffffff;
    color: #9c9c9c;
    color: #0d3a59;
    color: #3e92cc;*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    background: #3e92cc;
}

.wrapper {
    width: 100%;
    height: 70px;
}

.navigation {
    width: 100%;
    list-style-type: none;
    font-size: 2.8rem;
}

.navigation li {
    padding: 10px;
    margin: 0 10px;
    transition: 1s;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

.navigation img {
    width: 2rem;
    height: 2rem;
}

.mobile {
    display: none;
}

/* .logo {
    display: block;
    background: url("../images/logo.svg") center / contain no-repeat;
    width: 100%;
    height: 100%;
} */

/* mobile button */

.menuButton {
    position: fixed;
    /* z-index: 2; */
    top: 10px;
    right: 10px;
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    padding: 1%;
    cursor: pointer;
    transition: background 0.3s;
    text-indent: -9999px;
    border: none;
    border-radius: none;
    background-color: #3e92cc;
    box-shadow: none;
    font-size: 0;
    appearance: none;
}

.menuButton:focus {
    outline: none;
}

.menuButton span {
    position: absolute;
    top: 20px;
    right: 10px;
    left: 10px;
    display: block;
    height: 6px;
    transition: background 0s 0s;
    background: white;
}

.menuButton span::before, .menuButton span::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    content: "";
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    background-color: #fff;
}

.menuButton span::before {
    top: -10px;
    transition-property: top, transform;
}

.menuButton span::after {
    bottom: -10px;
    transition-property: bottom, transform;
}

/* Is active */

.menuButton.isActive span {
    background: none;
}

.menuButton.isActive span::before {
    top: 0;
    transform: rotate(45deg);
}

.menuButton.isActive span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menuButton.isActive span::before, .menuButton.isActive span::after {
    transition-delay: 0.2s, 0s;
}