.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200vh;
}

.titleDescription {
    background: #fff;
    margin-bottom: 20px;
}

.titleDescription h1, .titleDescription p {
    color: #000;
    padding: 10px;
}

.titleDescription p {
    padding: 2rem;
    margin: 2rem;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
    height: 60%;
}

@media screen and (min-width: 500px ){
    .container {
        height: 100vh;
    }
    .projectsContainer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        height: 40%;
    }
}

@media screen and (min-width: 900px ){
    .projectsContainer {
        margin: 20px;
        grid-template-columns: repeat(4, minmax(200px, 400px));
        height: 20%;
    }
}

