.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background: #dfdfdf;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/* .container:last-child {
    margin-bottom: 20px;
} */

.container svg {
    height: 100px;
    width: 100px;
}