.container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    height: 200vh;
}

.title {
    background: #fff;
    margin-bottom: 20px;
}

.title h1, .title p {
    color: #000;
    padding: 10px;
}

.title p {
    padding: 2rem;
    margin: 2rem;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    height: 80%;
}

@media screen and (min-width: 500px ){
    .container {
        height: 100vh;
    }
    .projectsContainer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 900px ){
    .container {
        height: 100vh;
    }

    .projectsContainer {
        margin: 20px;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

